.container {
    background-color: rgb(183, 183, 183);
    padding: 20px;
    border-radius: 10px;
}

.item {
    margin: 10px;
    padding: 5px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
}